<div class="message is-light content box">
  <span class="subtitle">
    <strong>Username</strong> says:
  </span>
  <p>
    <%= message.content %>
  </p>
  <small>
    <%= time_ago_in_words(message.created_at).capitalize %> ago
  </small>
</div>
<br>
