<div class="message is-light content box">
  <%= link_to nil, [message.board, message], method: :delete, :class => "delete has-text-weight-light is-pulled-right" %>

  <span class="subtitle">
    <% if message.username === @current_user.username %>
      <strong>You</strong>:
    <% else %>
      <strong><%= message.username %></strong> says:
    <% end %>
  </span>
  <p>
    <%= message.content %>
  </p>
  <small>
    <%= time_ago_in_words(message.created_at).capitalize %> ago
  </small>
</div>
<br>
