<div class="message is-light content box">
  <%= link_to nil, [message.board, message], method: :delete, :class => "delete has-text-weight-light is-pulled-right" %>

  <span class="subtitle">
    <strong>Username</strong> says:
  </span>
  <p>
    <%= message.content %>
  </p>
  <small>
    <%= time_ago_in_words(message.created_at).capitalize %> ago
  </small>
</div>
<br>
