<div class="message content box">
  <span class="subtitle">
    <strong>Name</strong> says:
  </span>
  <p>
    <%= message.content %>
    <br>
    <small>
      <%= time_ago_in_words(message.delivered).capitalize %>
    </small>
  </p>
</div>
<br>
