<% notes.order(position: :asc).each do |note| %>
  <article class="message is-info is-small box" data-id="<%= note.id %>" data-board-id="<%= @board.id %>">
    <div class="message-body">
      <div class="level">
        <div class="level-left">
          <%= note.content %>
        </div>
        <div class="level-right">
          <%= link_to "", [note.board, note], method: :delete, :class => "fas fa-trash-alt has-text-weight-light" %>
        </div>
      </div>
    </div>
  </article>
<% end %>
