
<%
=begin
  In application.html.erb add this <%= yield :HANDLER_NAME %>

 <% content_for :HANDLER_NAME do %>
  <link
    rel="stylesheet preload"
    href="https://cdn.jsdelivr.net/npm/font-awesome@4/css/font-awesome.min.css"
    as="style"
    crossorigin="anonymous"
  />
<% end %>

=end
%>

<h1>Auth#index</h1>
<p>Find me in app/views/auth/index.html.erb</p>
