<div class="container" style="padding-top: 3rem;">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <div class="notification has-background-white"></div>

        <div>
          <b>
            <%= link_to("Register", auth_register_path, {:class => "button is-medium"}) %>
          </b>

          <b>
            <%= link_to("Login", auth_login_path, {:class => "button is-medium is-custom-blue"}) %>
          </b>
        </div>

        <div class="container">
          <div
            class="title has-text-grey"
            style="font-size: 3rem; padding-top: 8rem;"
          >
            <h1>An efficient way to backlog</h1>
          </div>

          <div class="subtitle has-text-grey-light">
            With a little help from the classical kanban board
          </div>
        </div>
      </div>

      <div class="column is-two-fifths">
        <figure class="image is-square">
            <%= image_tag("board-#{[1,2,3].sample}.svg", :alt => "Kanban board") %>
        </figure>
      </div>

    </div>
  </div>
</div>
