<div class="container" style="padding-top: 3rem;">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="notification has-background-white"></div>

        <div>
          <div class="button is-medium">
            <b>Register</b>
          </div>
          <div class="button is-medium is-custom-blue">
            <b>Login</b>
            <%= link_to "Login", auth_controller %>
          </div>
        </div>

        <div>
          <div
            class="title has-text-grey"
            style="font-size: 5rem; padding-top: 9rem;"
          >
            <h1>Kancard</h1>
          </div>

          <div class="subtitle has-text-grey">
            Structure with Kanban style
          </div>
        </div>
      </div>

      <div class="column is-two-fifths">
        <div>
          <figure class="image is-square">
              <%= image_tag("group-index.svg", :alt => "kancard style") %>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
