<div class="container" style="padding-top: 3rem;">
  <div class="container skew-style-register">

    <figure style="position: fixed; padding-left: 8vw; top: 60vh;">
      <%= image_tag "group-register-eclipse.svg", :alt => "dots"  %>
    </figure>

    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">

        <div class="container form-style-auth has-background-white">
          <h1 class="title">Register</h1>
          <br />
          <%= form_with model: @user do |user| %>

            <div class="columns is-1">
              <div class="column">
                <div class="field">
                  <label class="label" for="username">Username</label>
                  <div class="control has-icons-left">
                    <input
                      type="text"
                      class="input"
                      id="username"
                      placeholder="Jonas123"
                      required
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                </div>
              </div>

              <div class="column">
                <label class="label" for="progress">Progress</label>
                <progress id="form-progress-status" class="progress is-marginless" value="15" max="100"></progress>
                <p id="form-progress-message">You have to fill out the form!</p>
              </div>
            </div>

            <div class="columns is-1">
              <div class="column">
                <div class="field">
                  <label class="label" for="email">Email</label>
                  <div class="control has-icons-left">
                    <input
                      type="email"
                      class="input"
                      id="email"
                      placeholder="Jonas123@email.se"
                      required
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label" for="confirm-email">Confirm email</label>
                  <div class="control has-icons-left">
                    <input
                      type="email"
                      class="input"
                      id="confirm-email"
                      placeholder="Jonas123@email.se"
                      required
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
              </div>
            </diV>

            <div class="columns is-1">
              <div class="column">
                <div class="field">
                  <label class="label" for="password">Password</label>
                  <div class="control has-icons-left">
                    <input
                      type="password"
                      id="password"
                      class="input"
                      placeholder="********"
                      required
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label" for="confirm-password">Confirm password</label>
                  <div class="control has-icons-left">
                    <input
                      type="password"
                      class="input"
                      id="confirm-password"
                      placeholder="********"
                      required
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>
              </div>
            </diV>

            <div class="field is-grouped-centered is-grouped">
              <div class="control" style="padding-top: 3rem;">
                <b>
                  <%= link_to "Back", auth_index_path, {:class => "button"} %>
                </b>

                <%= submit_tag "Register", {:class => "button is-custom-blue"} %>
              </div>
            </div>

            <% end %>
          </div>
        </diV>
      </div>
    </div>
  </div>
</div>
