<div class="columns">
  <div class="column box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <span class="subtitle">
            <strong>Name</strong> says:
          </span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
            <br>
            <small>3 hrs</small>
          </p>
        </div>
        <br />
        <div class="field">
          <label class="label">You:</label>
          <p class="control">
            <input class="input" type="text" placeholder="Your message...">
          </p>
        </div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <a class="button is-light">Submit</a>
            </div>
          </div>
        </nav>
      </div>
    </article>
  </div>
</div>
