<article class="media">
  <div class="media-content">
    <div class="content">
      <span class="subtitle">
        <strong>Name</strong> says:
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
        <br>
        <small>3 hrs ago</small>
      </p>
    </div>
    <br />
    <div class="field">
      <label class="label">You:</label>
      <div class="control">
        <textarea class="textarea" placeholder="Your message..."></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-link">Send</button>
      </div>
    </div>
  </div>
</article>
