<div class="columns">
  <div class="column"></div>

  <div class="column is-half">
    <h1 class="is-size-1" style="text-align: center;">Edit board</h1>
    <div class="form-style-panel">
      <%= render "boards/form", board: @board %>
    </div>
  </div>

  <div class="column"></div>
</div>
