<%= form_with model: [ @board, @board.cards.build ] do |f| %>
  <div id="new-card">
    <div class="field">
      <%= f.label :title, :class => "label" %>
      <div class="control has-icons-left">
        <%= f.text_field :title, :class => "input", :placeholder => "Todo", :aria_required => true, required: true %>
        <span class="icon is-small is-left">
          <i class="fas fa-align-left"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="field is-grouped is-grouped-centered">
    <div class="control" style="padding-top: 1rem;">
      <button type="reset" class="button bold" id="back">Back</button>
      <%= f.submit "Create", :class => "button is-custom-blue" %>
    </div>
  </div>
<% end %>
