/*
 *= require font_awesome5
 *= require font_awesome5_webfont
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import "auth.scss";
@import "boards.scss";
@import "form.scss";

:root {
  --custom-blue: #71b5ff;
  --custom-blue-light: #71b6ffb2;
  --shadow: rgba(65, 65, 65, 0.1);
  --shadow-light: #f5f5f5;
  --card-color: rgba(90, 122, 190, 0.15);
  --bold: 700;
}

body {
  margin: 0;
  height: 100vh;
  -webkit-transition: background-color, color 2s;
  transition: background-color, color 2s;
}

.navbar {
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 0px 6px 1px var(--shadow);
}

.title-logo {
  font-size: 3rem;
  padding-left: 3vw;
}

.title > h1 {
  font-weight: 200;
}

.button {
  border: none;
  margin-right: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px 1px var(--shadow);

  &:hover {
    box-shadow: 0px 2px 6px 2px var(--shadow);
  }

  &:active {
    color: white;
    background-color: black;
  }
}

.is-custom-blue:hover {
  color: white;
}

.bold {
  font-weight: var(--bold);
}
