/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font_awesome5
 *= require font_awesome5_webfont
 *= require_tree .
 *= require_self
 */
:root {
  --custom-blue: #71b5ff;
  --custom-blue-light: #71b6ffb2;
  --shadow: rgba(65, 65, 65, 0.1);
  --shadow-light: #f5f5f5;
  --card-color: rgba(90, 122, 190, 0.15);
}

body {
  margin: 0;
  height: 100vh;
  transition: background-color, color 2s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* background-color: var(--custom-blue-light); */
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--custom-blue);
}

.navbar {
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 0px 6px 1px var(--shadow);
}

.title-logo {
  font-family: "HouseScript";
  font-size: 3rem;
  padding-left: 3vw;
}

.title > h1 {
  font-weight: 200;
}
