:root {
  --skew-color: rgba(229, 229, 229, 0.4);
  --scrollbar: #71b6ff3d;
  --scrollbar-thumb: #71b6ff8c;
}

.is-custom-blue {
  color: white;
  font-weight: var(--bold);
  background-color: var(--custom-blue);
}

.skew-style {
  &-register:before {
    left: 0;
    right: 0;
    content: "";
    height: 90vh;
    width: 100vw;
    position: fixed;
    background: var(--skew-color);
    transform-origin: 80rem;
    transform: rotate(45deg);
  }

  &-login:before {
    left: 0;
    right: 0;
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: var(--skew-color);
    transform-origin: 0rem;
    transform: rotate(45deg);
  }
}
