.button {
  border: none;
  margin-right: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px 1px var(--shadow);

  &:hover {
    box-shadow: 0px 2px 6px 2px var(--shadow);
  }

  &:active {
    color: white;
    background-color: black;
  }
}
