:root {
  --scrollbar: #71b6ff3d;
  --scrollbar-thumb: #71b6ff8c;
  --button-shadow: rgba(65, 65, 65, 0.1);
  --skew-color: rgba(229, 229, 229, 0.4);
  --card-color: rgba(10, 10, 10, 0.1);
}

.card {
  height: auto;
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 1px 1px 1px 1px;
  border-color: var(--card-color);
  box-shadow: 0 3px 5px 0px var(--card-color);

  &:hover {
    box-shadow: 0px 10px 10px 0px var(--card-color);
  }

  & > .title,
  .subtitle {
    color: dodgerblue;
  }

  & > .title {
    text-align: left;
  }

  & > .subtitle {
    padding-top: 1rem;
    text-align: right;
  }
}

.column {
  margin: 1rem;
}

.has-text-purple {
  color: #3145c3;
}

.color-blue {
  color: var(--custom-blue);
}

.column-row {
  height: 60vh;
  overflow-y: scroll;
  word-wrap: break-word;

  & > .title,
  .subtitle {
    color: dodgerblue;
  }

  & > .subtitle {
    padding-top: 1rem;
    text-align: right;
  }
}

.scrollable {
  overflow: scroll;
}

// Overrides default
.columns {
  margin-right: unset;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.65);
}
